<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./plugins/headline/headline.css">
    <link rel="stylesheet" href="./plugins/manify.css">
    <link rel="shortcut icon" href="./images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="./css/style.css">
    <title>My Resume</title>
</head>
<body>
    <nav>
        <div class="container inner">
            <div class="logo">
                <img src="https://internship.zuri.team/static/media/logo.36d2d48a.svg">
            </div>
            <div>
                <a href = "https://internship.zuri.team/"><button>Enroll Now!</button></a>
            </div>
        </div>
    </nav>
    <main class="container">
        <section class="profile" id="profile__ripple">
            <div class="left">
                <div class="avatar__block">
                    <img src="./images/user.jpg"/>
                    <span>
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                    </span>
                </div>
                <div>
                    <h2>Seun Oluwafemi</h2>
                    <p class="cd-headline loading-bar">
                        <span class="cd-words-wrapper">
                            <b class="is-visible">Backend developer</b>
                            <b>Node.js</b>
                            <b>Express.js</b>
                            <b>Frontend developer</b>
                            <b>React.js</b>
                        </span>
                    </p>
                </div>
            </div>
            <div class="right">
                <ul class="contact">
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <strong>Phone: </strong> + 234 809 755 0815
                    </li>
                    <li>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <strong>Email: </strong> seunpaul148@gmail.com
                    </li>
                </ul>
                <ul class="socials">
                    <li>
                        <a href='#'>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href='#'>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href='#'>
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="about">
            <h1 class="section__heading"> About Me !</h1>
            <div class="content">
                <div class="left">
                    <h2>I'm Seun Oluwafemi</h2>
                    <p>A fast Learner and analytical thinker with the passion to always get solution to problems.
                        A multi-talented and positive minded individual with the ability to work with different groups.
                        Spends leisure time taking challenges and playing the guitar
                    </p>
                    <a><button>Download CV</button></a>
                </div>
                <div class="right">
                    <p>
                        <span>Name</span>
                        <span>Seun Oluwafemi</span>
                    </p>
                    <p>
                        <span>Date Of Birth</span>
                        <span>14 August 2001</span>
                    </p>
                    <p>
                        <span>Spoken Langues</span>
                        <span>English</span>
                    </p>
                    <p>
                        <span>Nationality</span>
                        <span>Nigerian</span>
                    </p>
                    <p>
                        <span>Interest</span>
                        <span>Reading, Music, Movies, Games,</span>
                    </p>
                </div>
            </div>
        </section>
        <section class="skills">
            <h1 class="section__heading">Education & Skills</h1>
            <div class="content">
                <div class="left">
                    <div class="inner__left">
                        <div class="heading">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <h5>Education</h5>
                        </div>
                        <div class="timeline__wrapper">
                            <div class="item">
                                <p>2005 - 2010</p>
                                <p class="center">Elementary school</p>
                                <p>Primary Education</p>
                            </div>
                            <div class="item">
                                <p>2010 - 2016</p>
                                <p class="center">Highschool</p>
                                <p>Secondary Education</p>
                            </div>
                            <div class="item">
                                <p>2017 - present</p>
                                <p class="center">University</p>
                                <p>Bsc Computer Science in View</p>
                            </div>
                        </div>
                    </div>
                    <div class="inner__right">
                        <div class="heading">
                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                            <h5>Experience</h5>
                        </div>
                        <div class="timeline__wrapper">
                            <div class="item">
                                <p>2018 - 2019</p>
                                <p class="center">backend developer</p>
                                <p>FISSA</p>
                            </div>
                            <div class="item">
                                <p>2019 - 2020</p>
                                <p class="center">Frontend developer</p>
                                <p>Waltersam Serivces</p>
                            </div>
                            <div class="item">
                                <p>2020 - 2021</p>
                                <p class="center">Full stack developer</p>
                                <p>Nurture Hill</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="skills__wrapper">
                        <div class="skill-box">
                            <h4>HTML & CSS3</h4>
                            <div class="progress__wrap">
                                <span data-percent="78" class="progress__bar">
                                    <span class="tooltip">78%</span>
                                </span>
                            </div>
                        </div>
                        <div class="skill-box">
                            <h4>Reactjs</h4>
                            <div class="progress__wrap">
                                <span data-percent="80" class="progress__bar">
                                    <span class="tooltip">80%</span>
                                </span>
                            </div>
                        </div>
                        <div class="skill-box">
                            <h4>Nodejs</h4>
                            <div class="progress__wrap">
                                <span data-percent="75" class="progress__bar">
                                    <span class="tooltip">80%</span>
                                </span>
                            </div>
                        </div>
                        <div class="skill-box">
                            <h4>postgresql</h4>
                            <div class="progress__wrap">
                                <span data-percent="76" class="progress__bar">
                                    <span class="tooltip">75%</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="work">
            <h1  class="section__heading">My works & Review</h1>
            <div class="wrapper">
                <div class="slider__wrapper">
                    <div class="icon__wrap"><i class="uil uil-feedback"></i></div>
                    
                    <div class="slider">
                        <div class="slide">
                            <p>A disciplined and focused Employee.
                                Never gives up and always trys to find
                                a solution.
                            </p>
                            <div><img src="./images/waltersam.png"></div>
                            <h2>Samuel O. Johnson</h2>
                            <h6>CEO waltersam Serivces</h6>
                        </div>
                    </div>
                </div>
                <div class="portfolio">
                    <div class="tabs">
                        <ul>
                            <li><a class="active" href="#" data-filter="*">All</a></li>
                            <li><a href="#" data-filter=".projects">Projects</a></li>
                            <li><a href="#" data-filter=".personal">Personal</a></li>
                        </ul>
                    </div>
                    <div class="portfolio__wrapper">
                        <div class="item personal">
                            <a class="magnify" href="./images/1.jpg" title="something">
                                <img src="./images/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="item personal">
                            <a class="magnify" href="./images/2.jpg" title="something">
                                <img src="./images/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="item personal">
                            <a class="magnify" href="./images/3.jpg" title="something">
                                <img src="./images/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="item projects">
                            <a class="magnify" href="./images/6.jpg" title="something">
                                <img src="./images/6.jpg" alt="">
                            </a>
                        </div>
                        <div class="item projects">
                            <a class="magnify" href="./images/5.jpg" title="something">
                                <img src="./images/5.jpg" alt="">
                            </a>
                        </div>
                        <div class="item projects">
                            <a class="magnify" href="./images/7.jpg" title="something">
                                <img src="./images/7.jpg" alt="">
                            </a>
                        </div>
                        <div class="item projects">
                            <a class="magnify" href="./images/4.jpg" title="something">
                                <img src="./images/4.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact">
            <h1 class="section__heading">contact Me</h1>
            <div class="wrapper">
                <div class="left">
                    <div>
                        <div><i class="fa fa-phone" aria-hidden="true"></i></i></div>
                        <div>
                            <h4>Call Me:</h4>
                            <span>+234 809 755 0815</span>
                        </div>
                    </div>
                    <div>
                        <div><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                        <div>
                            <h4>Mail Me:</h4>
                            <span>seunpaul148@gmail.com</span>
                        </div>
                    </div>
                    <div>
                        <div><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div>
                            <h4>Find Me:</h4>
                            <span>Lagos, Nigeria</span>
                        </div>
                    </div>
                </div>
                <form class="right">
                    <div class="form__group">
                        <div>
                            <Label for="">Name</Label>
                            <input type="text" required>
                        </div>
                        <div>
                            <Label for="">email</Label>
                            <input type="email" required>
                        </div>
                    </div>
                    <div class="form__group textarea__wrapper">
                        <div>
                            <Label for="">Message</Label>
                            <textarea name="" id cols="30" rows="6" required></textarea>   
                        </div>
                    </div>
                    <button type="submit">Submit Now</button>
                </form>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src = "./plugins/headline/headline.js"></script>
    <script src ="./plugins/ripples.js"></script>
    <script src="./plugins/isotope.js"></script>
    <script src="./plugins/manify.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>